<h3>Rails app running on K8s,  with PostgreSQL & Redis database, running some background jobs and broadcasting the counters with Websockets</h3>
<br>
<h4> Open another browser to check the web sockets</h4>
<div id='root'></div>

