<h1 class="title"> Rails app with React sprinkle with local PGSL database and Redis protected Redis database</h1>
<br>

<div id='root'></div>


<code>
   SECRET_KEY_BASE: <%= Rails.application.credentials.secret_key_base %>
</code>
