
<h1 class="title"> Rails app  with PostgreSQL & Redis database, running background jobs, and realtime update with Web sockets</h1>

<br>
<p>Browser's IP: <%= @origin %></p>

<p>Open another browser to check the web sockets</p>
<div id='root'></div>
