
<h1 class="title"> Rails app  with local PostgreSQL database, local protected Redis database, background job, using a React sprinkle and realtime update with Websockets</h1>

<br>

<div id='root'></div>
