<h1>Dockerized Rails app with local database with protected Redis database</h1>
<br>


<br>
<h2> REDIS DB: <%= @compteur  %></h2>
<h2> PG    DB: <%=  @nb %></h2>
<p>
   <%= Rails.application.credentials.secret_key_base %>
</p>
