
<h1 class="title"> Rails app  with PostgreSQL & Redis database, running background jobs, and realtime update with Web sockets</h1>

<br>

<h4> Open another browser to check the web sockets</h4>
<div id='root'></div>
