<h3>Dockerized Rails app in prod mode with local PostgreSQL db,  with Redis db, running background jobs and broadcasting the counters with websockets</h3>
<br>
<h3> Open another browser to check the web sockets</h3>
<div id='root'></div>