<h2>Rails app running on K8s,  with PostgreSQL & Redis database, running the queries with jobs and broadcasting back with Websockets</h2>
<br>
<h3> Open another browser to check the web sockets</h3>
<br>
<h3>Rails host: <%= ENV['HOSTNAME'] %></h3>
<br>
<div id='root'></div>

