.title {
  border: 1px solid;
  padding: 2px;
  text-align: center;
}

.button {
  font-size: 20px;
  height: 40px;
  width: 120px;
  margin: 100px;
  color: blue;
}

.flexed {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.img {
  height: 80px;
  width: 80px;
  padding: 20px;
}

.img-med {
  height: 80px;
  width: 120px;
  padding: 20px;
}

.img-large {
  height: 80px;
  width: 160px;
  padding: 20px;
}